{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <a>Сортировать по:</a >&nbsp;
            <a href="?sort=name">названию </a>&nbsp;
            <a href="?sort=min_price">начиная с дешевых</a>&nbsp;
            <a href="?sort=max_price">начиная с дорогих</a>&nbsp;
        </div>

        <div class="content">
            {% for phone in phones_list %}
                <div class="phone">
                <h2><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h2>
                <p class="price">Стоимость:{{ phone.price }}р.</p>
                <a href="/catalog/{{ phone.slug }}"><img class="img-class" src="{{ phone.image }}"> </a>
            {% endfor %}

        </div>
    </div>
{% endblock %}
